$maxWidth: 1920;
$maxWidthContainer: 1600;
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);

@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer+px}) {
            #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) /#{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) /#{$maxWidth - 320}));
    } @else {
        #{$property}: calc(#{$minSize+px} + (#{$addSize}) * (((100vw - 320px) / #{$maxWidth - 320})));
    }
}
@function rem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0px 0px 0px 0px;
}
.popup__formblock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    flex: 1 1 33%;
    margin-right: rem(47);
    border-right: 2px solid #454747;
    padding-right: rem(40);
}
.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.popup__input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(19);
    color: #454747;
    position: relative;
    display: block;
    border-bottom: 1px solid black;
}
.popup__input {
    margin-bottom: rem(20);
}
.popup__wrapper.popup__wrapper_type_cart {
    padding: rem(35) rem(35) rem(35) rem(70);
}
.popup__title_type_cart {
    padding-top: rem(20);
    box-sizing: border-box;
}
.popup__confirm {
    font-weight: 400;
    font-size: rem(10);
    line-height: 130.5%;
    letter-spacing: 0.0075em;
    color: #737373;
    text-align: center;
}
.popup__products {
    flex: 1 1 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup__cardsblock {
    margin: 0px;
    padding: 0px;
    max-height: rem(500);
    overflow-y: auto;
    list-style: none;
}
.popup__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}
.popup__btn_type_deleteproduct {
    outline: none;
    border: none;
    background: transparent;
}
.popup__card:not(:last-child) {
    margin-bottom: rem(10);
}
.popup__imagecartblock {
    width: rem(70);
    height: rem(70);
}
.popup__productimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup__productname {
    flex: 0 1 39%;
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(19);
    color: #272525;
}
.popup__numberblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: rem(12);
    line-height: 105.5%;
    color: #9fa3b2;
}
.popup__amountblock {
    display: flex;
    margin-top: rem(5);
    align-items: center;
}
.popup__change {
    border: 0.5px solid #272525;
    border-radius: rem(2);
    outline: none;
    background: transparent;
}
.popup__number {
    font-size: rem(14);
    line-height: 105.5%;
    color: #272525;
    margin-right: rem(12);
    margin-left: rem(12);
}
.popup__change:hover {
    cursor: pointer;
    color: white;
    background-color: #272525;
    transition: all 0.2s;
}
.popup__deleteproduct {
}
.popup__addinfo {
    display: flex;
    justify-content: space-between;
}
.popup__order {
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(16);
    color: #8e8e8e;
    align-self: flex-start;
}
.popup__totalpriceblock {
    display: flex;
    font-weight: 700;
    font-size: rem(36);
    line-height: rem(44);
    color: #000000;
    padding-bottom: rem(60);
}
.popup__formcoop {
    display: flex;
    flex-direction: column;
}
.popup__order.popup__order_type_mobile {
    display: none;
}
.popup__deleteproduct {
    width: rem(20);
    height: rem(20);
    cursor: pointer;
}
.form__error {
    margin-top: 0px;
    margin-bottom: rem(10);
    color: rgb(233, 40, 40);
}
@media (max-width: rem(1040)) {
    .popup__wrapper.popup__wrapper_type_cart {
        padding-left: rem(32);
        padding-right: rem(32);
        padding-top: rem(21);
        padding-bottom: rem(21);
    }
    .popup__totalpriceblock {
        font-size: rem(24);
        line-height: rem(29);
    }
    .popup__block.popup__block_type_cart {
        flex-direction: column-reverse;
    }
    .popup__products {
        margin-bottom: rem(35);
    }
    .popup__title {
        padding: 0px;
    }
    .popup__totalpriceblock {
        padding: 0px;
    }
    .popup__formblock {
        margin-right: rem(0);
        border: none;
        padding-right: rem(0);
    }
    .popup__form {
        justify-content: space-between;
    }
    .popup__addinfo {
        margin-top: rem(20);
    }
    .popup__close {
        width: rem(37);
        height: rem(37);
        top: rem(-20);
        right: rem(-20);
    }
    .popup__close.popup__close_type_cart {
        top: rem(10);
        right: rem(10);
    }
}
@media (max-width: rem(608)) {
    .popup__wrapper.popup__wrapper_type_cart {
        padding-left: rem(32);
        padding-right: rem(32);
        padding-top: rem(21);
        padding-bottom: rem(21);
    }
    .popup__totalpriceblock {
        font-size: rem(24);
        line-height: rem(29);
    }
    .popup__block.popup__block_type_cart {
        flex-direction: column-reverse;
    }
    .popup__products {
        margin-bottom: rem(15);
    }
    .popup__title {
        padding: 0px;
    }
    .popup__totalpriceblock {
        padding: 0px;
    }
    .popup__formblock {
        margin-right: rem(0);
        border: none;
        padding-right: rem(0);
    }
    .popup__formblock {
        flex-direction: column;
    }
    .popup__form {
        flex-direction: column;
    }
    .popup__cardsblock {
        max-height: rem(200);
    }
    .popup__card {
        position: relative;
    }
    .popup__productsmobule {
        text-align: center;
        margin-bottom: rem(50);
    }
    .popup__order.popup__order_type_desktop {
        display: none;
    }
    .popup__order.popup__order_type_mobile {
        display: inline-block;
        text-align: center;
    }
    .popup__addinfo {
        justify-content: center;
    }
    .popup__close.popup__close_type_cart {
        width: rem(30);
        height: rem(30);
        top: rem(-10);
        right: rem(-10);
    }
    .popup__productname {
        font-size: rem(14);
        flex: 0 1 37%;
    }
    .popup__wrapper.popup__wrapper_type_cart {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .popup__numberblock {
        padding-right: rem(5);
        padding-left: rem(5);
    }
    .popup__productname {
        flex: 0 1 30%;
    }
    .popup__card {
        padding-bottom: rem(30);
    }
}
@media (max-width: rem(420)) {
    .popup__card {
        position: relative;
        margin-top: rem(10);
    }
    .popup__price.popup__price_type_cart {
        position: absolute;
        top: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
    }
    .popup__productsmobule {
        margin-bottom: rem(20);
    }
}
