.about__search-popup_type_active {
    position: absolute;
    top: 79px;
    left: 0;
    min-width: 90%;
    max-width: 91%;
    max-height: 500px;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    margin: 0px 0px 0px 0px;
    padding: 0;
    list-style: none;
    padding: 15px;
    z-index: 1000;
    border: 1px solid #c5c5c5;
}
.about__search-popup {
    display: none;
}
@media (max-width: 1200px) {
    .about__search-popup_type_active {
        top: 72px;
    }
}
@media (max-width: 1000px) {
    .about__search-popup_type_active {
        min-width: 85%;
        max-width: 86%;
        padding: 10px;
    }
}
@media (max-width: 768px) {
    .about__search-popup_type_active {
        width: 100%;
        top: 135px;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 580px) {
    .about__search-popup_type_active {
        top: 145px;
    }
}
@media (max-width: 320px) {
    .about__search-popup_type_active {
        top: 105px;
    }
}
