$maxWidth: 1920;
$maxWidthContainer: 1600;
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);

@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer+px}) {
            #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) /#{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) /#{$maxWidth - 320}));
    } @else {
        #{$property}: calc(#{$minSize+px} + (#{$addSize}) * (((100vw - 320px) / #{$maxWidth - 320})));
    }
}
@function rem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0px 0px 0px 0px;
}
.main {
    background: rgb(250, 250, 250);
    padding-bottom: rem(30);
}
.main__block {
    padding: 0 rem(30);
}
.main__filter::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: rem(8) solid #f2f1f8;
    display: block;
}
.main__filter {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding-top: rem(100);
    margin-bottom: rem(60);
    padding-left: rem(15);
    padding-right: rem(15);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.main__link {
    font-size: rem(18);
    line-height: 105.5%;
    text-align: center;
    color: #8e8e8e;
    cursor: pointer;
}
.main__link:not(:last-child) {
    margin-right: rem(20);
    margin-top: rem(10);
}
.main__link_type_active {
    background-color: black;
    color: white;
    padding: rem(15);
    box-sizing: border-box;
    margin-right: rem(20);
    margin-top: rem(10);
}
.main__galerey {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fill, minmax(rem(358), 1fr));
    margin-bottom: rem(26);
}
.swiper.card__swiper {
    margin: 0px 0px 0px 0px;
}
.card {
    position: relative;
    min-width: 0;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr/1fr;
    grid-auto-flow: row;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0px 16.0566px 22px -8px rgba(82, 73, 131, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    transition: all 0.3s;
    border-radius: rem(15);
}
.card__textblock:hover ~ .card__priceblock {
    color: black;
    transition: all 0.3s;
}
.card__swiper:hover ~ .card__block div {
    color: black;
}
.card__slide {
    background-color: #f1f1f8;
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 30% 0px;
}
.card__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0px 90% 0px;
    object-fit: cover;
    border-radius: rem(15);
}
.card__image {
    display: block;
    transition: 0.8s;
}
.card__image:hover {
    transform: scale(1.1);
}
.card__block {
    border-bottom-left-radius: rem(15);
    border-bottom-right-radius: rem(15);
    background-color: white;
    padding-left: rem(15);
    padding-right: rem(15);
    padding-bottom: rem(10);
    position: relative;
}
.card__textblock {
    margin-top: rem(15);
    display: flex;
    flex-direction: column;
}
.card__name {
    font-weight: 600;
    font-size: rem(24);
    line-height: 105.5%;
    color: #272525;
    margin-bottom: rem(12);
}
.card__subname {
    font-size: rem(12);
    line-height: 105.5%;
    color: #272525;
    margin-bottom: rem(50);
}
.card__priceblock {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: rem(24);
    line-height: 105.5%;
    color: #c4c4c4;
}
.card__next,
.card__prev {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
.card__next {
    bottom: rem(13);
    right: rem(23);
}
.card__prev {
    transform: rotate(180deg);
    bottom: rem(16);
    right: rem(55);
}
.card__cart {
    position: absolute;
    bottom: rem(24);
    right: rem(19);
}
.card__imgcart {
}
.main__paginationblock {
    display: flex;
    justify-content: space-between;
}
.more {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.more,
.pagination__arrow,
.pagination__tumbler {
    border: none;
    outline: none;
    background: transparent;
}
.more__text {
    font-weight: 700;
    font-size: rem(24);
    line-height: 130%;
    color: #272525;
    margin-right: rem(24);
}
.more__arrow {
    transform: rotate(0.25turn);
}
.pagination {
    display: flex;
    align-items: center;
}
.pagination__arrow {
    background: #ece7f0;
    border-radius: 50%;
    padding: rem(10) rem(15) rem(10) rem(15);
    cursor: pointer;
}
.pagination__arrow:hover {
    background: #acb3da;
    transition: all 0.3s;
}
.pagination__arrow_type_prev {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.pagination__arrowimage {
    width: rem(10);
    height: rem(20);
}
.pagination__tumbler {
    font-weight: 700;
    font-size: rem(18);
    line-height: 130%;
    color: #7981ad;
    cursor: pointer;
}
.pagination__tumbler:hover:not(.pagination__tumbler_type_active) {
    font-size: rem(20);
}
.pagination__tumblers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: rem(40);
    margin-right: rem(40);
}
.pagination__tumbler:not(:last-child) {
    margin-right: rem(20);
}
.pagination__tumbler_type_active {
    font-size: rem(24);
    color: #fafafa;
    background: #7981ad;
    border-radius: 50%;
    padding: rem(5) rem(15) rem(5) rem(15);
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
}
.main__more.more_type_disabled {
    display: none;
}
.main__mobilefilter.mobfilter {
    display: none;
}
@media (max-width: rem(1600)) {
    .main__filter,
    .main__filter.main__filter_type_active {
        padding-top: 3.25rem;
    }
    .main__filter::before,
    .main__filter.main__filter_type_active::before {
        top: 20%;
    }
}
@media (max-width: rem(788)) {
    .main__block {
        padding: 0 rem(20);
        position: relative;
    }
    .main__link:not(:last-child) {
        margin-bottom: rem(10);
    }
    .main__paginationblock {
        flex-direction: column;
        align-items: center;
    }

    .main__galerey {
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
    }
    .main__filter {
        padding-top: 3.25rem;
        margin-bottom: 1.75rem;
    }
    .main__filter::before {
        top: 17%;
    }
    .main__mobilefilter.mobfilter {
        display: flex;
        align-items: center;
        padding-top: rem(20);
        margin-bottom: rem(20);
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
    }
    .mobfilter__title {
        margin: 0px 0px 0px 0px;
        font-size: rem(20);
    }
    .mobfilter__title.mobfilter__title_type_active {
        color: rgb(134, 79, 132);
        transition: all 0.2s;
    }
    .mobfilter__image {
        width: rem(20);
        height: rem(24);
        margin-right: rem(15);
    }
    .main__filter {
        opacity: 0;
        z-index: 0;
        display: none;
    }
    .main__filter.main__filter_type_active {
        opacity: 1;
        display: flex;
        padding-top: rem(30);
    }
    .main__filter.main__filter_type_active::before {
        top: 2%;
    }
    .main__galerey.main__galerey_type_mobactive {
    }
}
@media (max-width: rem(320)) {
    .main__galerey {
        grid-template-columns: repeat(auto-fill, minmax(rem(220), 1fr));
    }
    .pagination__tumblers {
        margin-left: rem(0);
        margin-right: rem(0);
    }
    .pagination__tumbler:not(:last-child) {
        margin-right: rem(5);
    }
}
