.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    transition: all 0.8s ease 0s;
}
.empty__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 130%;
    margin-top: 30px;
    text-align: center;
}
.empty__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 130%;
    max-width: 350px;
    text-align: center;
    margin-top: 0px;
}
.empty__link {
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #524983;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.empty__link:hover {
    transform: scale(1.1);
    background: #403968;
    transition: all 0.2s;
}
@media (max-width: 600px) {
    .empty {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 40px;
        padding-left: 40px;
    }
}
