$maxWidth: 1920;
$maxWidthContainer: 1600;
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);

@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer+px}) {
            #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) /#{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) /#{$maxWidth - 320}));
    } @else {
        #{$property}: calc(#{$minSize+px} + (#{$addSize}) * (((100vw - 320px) / #{$maxWidth - 320})));
    }
}
@function rem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0px 0px 0px 0px;
}
.container {
    width: 100%;
    max-width: rem(1600);
    margin: 0 auto;
}
.about {
    background: linear-gradient(42.14deg, #9796f0 -17.31%, #fbc7d4 106.72%);
}
.about__opening {
    max-width: 100%;
    height: rem(100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(30);
}
.about__logoblock {
    width: rem(488);
    height: rem(40);
}
.logoimg {
    width: 100%;
    height: 100%;
}
.about__search {
    width: rem(490);
    height: rem(60);
    @include adaptive-value("padding-left", 69, 49, 0);
    border: 3px solid #272525;
    box-sizing: border-box;
    border-radius: rem(90);
    outline: none;
    background: transparent;
}
.about__tel {
    display: flex;
    align-items: center;
    padding: rem(20) rem(62);
    height: rem(60);
    box-sizing: border-box;
    color: #eef1f6;
    text-decoration: none;
    background: #1fab8a;
    box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
    border-radius: 90px;
}
.about__tel:hover {
    background: #1b9478;
    color: black;
    transition: all 0.3s;
}
.about__userimg {
    width: rem(33);
    height: rem(33);
}
.about__lang {
    font-weight: 600;
    font-size: rem(18);
    line-height: 105.5%;
    color: #272525;
}
.about__span {
    margin-left: rem(3);
    font-weight: 400;
    font-size: rem(18);
    line-height: 105.5%;
    color: #8e8e8e;
}
.about__searchblock,
.about__search {
    position: relative;
}

#before {
    width: rem(19);
    height: rem(19);
    position: absolute;
    @include adaptive-value("top", 20, 10, 0);
    @include adaptive-value("left", 32, 22, 0);
}
.burger-menu,
.burgerimg {
    display: none;
}

@media (max-width: rem(1700)) {
    .container {
        max-width: rem(1500);
    }
    .about__logoblock {
        width: rem(388);
        height: rem(35);
    }
    .about__tel {
        padding: rem(20) rem(52);
        height: rem(55);
    }
    .about__search {
        width: rem(420);
        height: rem(55);
    }
}
@media (max-width: rem(1500)) {
    .container {
        max-width: rem(1300);
    }
    .about__search {
        width: rem(380);
        height: rem(50);
    }
    .about__tel {
        height: rem(50);
    }
}
@media (max-width: rem(1300)) {
    .container {
        max-width: rem(1100);
    }
    .about__logoblock {
        width: rem(340);
        height: rem(30);
    }
    .about__search {
        width: rem(300);
        height: rem(45);
    }
    .about__tel {
        padding: rem(20) rem(42);
        height: rem(45);
    }
}
@media (max-width: rem(1100)) {
    .container {
        max-width: rem(980);
    }
    .about__logoblock {
        width: rem(300);
        height: rem(28);
    }
    .about__search {
        width: rem(270);
    }
    .about__tel {
        padding: rem(20) rem(32);
    }
}
@media (max-width: rem(1000)) {
    .about__opening {
        height: rem(80);
    }
    .about__logoblock {
        width: rem(190);
        height: rem(18);
    }
    .about__search {
        width: rem(200);
        height: rem(40);
    }
    .about__tel {
        padding: rem(20) rem(27);
        height: rem(40);
        font-size: rem(14);
    }
    .about__userimg {
        width: rem(26);
        height: rem(26);
    }
    .about__lang {
        font-size: rem(16);
    }
    .about__span {
        font-size: rem(16);
    }
    #before {
        top: rem(10);
        left: rem(20);
    }
}
@media (max-width: rem(768)) {
    .about__logoblock {
        width: rem(210);
        height: rem(16);
    }
    .about__search {
        display: none;
    }
    .about__searchblock {
        position: relative;
    }
    .about__search_type_active {
        display: block;
        position: absolute;
        top: 70px;
        background: white;
    }
    .about__userimg {
        display: none;
    }
    .about__lang {
        display: none;
    }
    .about__span {
        display: none;
    }
    .about__opening {
        padding: 0 rem(20);
    }
    #before {
        top: rem(0);
        @include adaptive-value("left", 128, 68, 0);
    }
    .burgerimg {
        display: block;
    }
    .about__tel {
        @include adaptive-value("margin-left", 180, 100, 0);
    }
    .about__container {
        position: relative;
    }
    .about__searchblock {
        position: static;
    }
    .about__search_type_active {
        display: block;
        position: absolute;
        width: 90%;
        top: rem(90);
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
        background: white;
    }
    #before {
        width: rem(19);
        height: rem(19);
        position: absolute;
        @include adaptive-value("top", 50, 30, 0);
        @include adaptive-value("left", 350, 250, 0);
    }
}
@media (max-width: rem(580)) {
    .about__tel {
        @include adaptive-value("margin-left", 180, 30, 0);
    }
}
@media (max-width: rem(480)) {
    .about__tel {
        display: none;
    }
}
@media (max-width: rem(320)) {
    .about__opening {
        height: rem(50);
    }
    .about__logoblock {
        width: rem(130);
        height: rem(10);
    }
    .about__search_type_active {
        top: rem(60);
    }
    #before {
        @include adaptive-value("top", 20, 15, 0);
        @include adaptive-value("left", 250, 200, 0);
    }
}
