.creative {
    background: url("../img/creative__back.svg");
    min-height: rem(620);
    margin-bottom: rem(180);
    padding-bottom: rem(46);
    overflow: hidden;
}
.creative__block {
    @include adaptive-value("padding-top", 37, 15, 0);
    display: flex;
    padding: 0 rem(30);
}
.creative__textflex {
    display: flex;
    flex-direction: column;
    margin-right: rem(45);
}
.creative__heading {
    font-family: "Pangolin";
    font-style: normal;
    font-weight: 400;
    font-size: 69.726px;
    line-height: 87px;
    color: #c62e2a;
    transform: rotate(-2.35deg);
    margin-bottom: rem(10);
}
.creative__subheading {
    font-weight: 700;
    font-size: rem(48);
    line-height: rem(58);
    color: #272525;
    margin-top: rem(10);
    @include adaptive-value("max-width", 950, 300, 0);
    @include adaptive-value("margin-bottom", 23, 10, 0);
}
.creative__text {
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(23);
    letter-spacing: 0.065em;
    color: #454747;
    @include adaptive-value("max-width", 590, 300, 0);
    @include adaptive-value("margin-bottom", 44, 15, 0);
}
.creative__btnblock {
    display: flex;
}
.creative__btn {
    font-family: "Montserrat";
    border-radius: rem(60);
    outline: none;
    padding-top: rem(19);
    padding-bottom: rem(19);
    border: none;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
}
.creative__btn:hover {
    transition: all 0.3s;
    cursor: pointer;
}
.creative__btn-black {
    padding-right: rem(54);
    padding-left: rem(54);
    background: #272525;
    color: #fafafa;
    @include adaptive-value("margin-right", 30, 10, 0);
}
.creative__btn-black:hover {
    color: #272525;
    background: #fafafa;
}
.creative__btn-white:hover {
    color: #eef1f6;
    background: #272525;
}
.creative__btn-white {
    padding-right: rem(84);
    padding-left: rem(84);
    background: #eef1f6;
    color: #272525;
}
.creative__imgflex {
    position: relative;
    width: rem(428);
    height: rem(428);
}
.creative__img {
    padding-top: rem(30);
    padding-right: rem(50);
    padding-bottom: rem(50);
    padding-left: rem(10);
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    border-radius: 15px;
    transform: rotate(15deg);
    background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
    display: block;
    @include adaptive-value("margin-top", 100, 80, 0);
    position: relative;
    z-index: 2;
}
.creative__square {
    z-index: 1;
    width: rem(380);
    height: rem(380);
    position: absolute;
    bottom: -45%;
    left: -19%;
    background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
    opacity: 0.5;
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    border-radius: 15px;
    transform: rotate(-15deg);
}
@media (max-width: rem(1700)) {
    .products__modal {
        padding: rem(27) rem(12) rem(27) rem(17);
    }
    .creative__subheading {
        font-size: rem(43);
        line-height: rem(48);
    }
}
@media (max-width: rem(1000)) {
    .creative__subheading {
        font-size: rem(33);
        line-height: rem(38);
    }
    .creative__img {
        margin-left: rem(30);
    }
    .creative__imgflex {
        position: relative;
        width: rem(328);
        height: rem(328);
    }
    .creative__square {
        width: rem(280);
        height: rem(280);
        bottom: -55%;
        left: -6%;
    }
    .creative__btn-black {
        padding-right: rem(36);
        padding-left: rem(36);
    }
    .creative__btn-white {
        padding-right: rem(56);
        padding-left: rem(56);
    }
    .creative {
        margin-bottom: 3rem;
    }
}
@media (max-width: rem(768)) {
    .creative__subheading {
        font-size: rem(27);
        line-height: rem(33);
    }
    .creative__text {
        font-size: rem(16);
        line-height: rem(21);
    }
    .creative__img {
        @include adaptive-value("margin-left", 80, 0, 0);
    }
    .creative__imgflex {
        width: rem(300);
        height: rem(300);
    }
    .creative__square {
        width: rem(280);
        height: rem(280);
        bottom: -50%;
        left: 8%;
    }
    .creative__btn-black {
        font-size: rem(13);
        padding-right: rem(30);
        padding-left: rem(30);
    }
    .creative__btn-white {
        font-size: rem(13);
        padding-right: rem(50);
        padding-left: rem(50);
    }
    .creative__img {
        padding-top: rem(20);
        padding-right: rem(40);
        padding-bottom: rem(30);
        padding-left: rem(10);
    }
    .creative__textflex {
        margin-right: 0px;
    }
}
@media (max-width: rem(680)) {
    .creative__imgflex {
        width: rem(228);
        height: rem(228);
    }
    .creative__square {
        width: rem(200);
        height: rem(200);
        bottom: -50%;
        left: 8%;
    }
    .creative__img {
        padding-top: rem(20);
        padding-right: rem(20);
        padding-bottom: rem(30);
        padding-left: rem(10);
    }
}
@media (max-width: rem(560)) {
    .creative__block {
        flex-direction: column;
    }
    .creative {
        background: white;
        overflow: visible;
    }
    .creative__block {
        align-items: center;
    }
    .creative__textflex {
        max-width: 100%;
    }
    .creative__btnblock {
        flex-direction: column;
        align-items: center;
    }
    .creative__btn {
        margin-bottom: rem(20);
        min-width: rem(280);
    }
    .creative__img {
        margin-top: rem(30);
    }
    .creative__square {
        width: rem(200);
        height: rem(200);
        bottom: -34%;
        left: -8%;
    }
}
@media (max-width: rem(480)) {
    .creative__heading {
        font-size: rem(48);
        line-height: rem(60);
    }
    .creative__subheading {
        font-size: rem(24);
        line-height: rem(27);
    }
    .creative__text {
        margin-bottom: rem(30);
    }
    .creative__textflex {
        align-items: center;
        text-align: center;
    }
}
@media (max-width: rem(350)) {
    .creative__btn {
        min-width: rem(200);
    }
    .creative__img {
        padding-top: rem(10);
        padding-right: rem(10);
        padding-bottom: rem(20);
        padding-left: rem(5);
    }
    .creative__imgflex {
        width: rem(180);
        height: rem(180);
    }
}
