.other {
    @include adaptive-value("margin-bottom", 75, 30, 0);
    overflow: hidden;
}
.other__block {
    display: flex;
    align-items: center;
    padding: 0 rem(30);
}
.other__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    border-radius: rem(15);
}
.other__imgwrapper {
    max-width: rem(753);
    max-height: rem(532);
    @include adaptive-value("margin-right", 40, 25, 0);
    position: relative;
    z-index: 2;
}
.other__flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
}
.other__maintext {
    font-weight: 700;
    font-size: rem(36);
    max-width: rem(820);
    line-height: 130%;
    color: #222227;
    margin-top: 0px;
    @include adaptive-value("margin-bottom", 30, 10, 0);
}
.other__text {
    font-size: rem(18);
    line-height: 130%;
    letter-spacing: 0.065em;
    color: #454747;
    margin-top: 0px;
    @include adaptive-value("margin-bottom", 50, 30, 0);
    max-width: rem(890);
}
.other__swiper {
    width: 100%;
    height: 100%;
    max-width: rem(790);
    min-height: rem(200);
    position: relative;
}
.swiper-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.swiper-slide {
    height: 100%;
    flex: 1 0 auto;
    margin-right: 0px;
}
.other__imgblock {
    background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    width: rem(123);
    height: rem(123);
    border-radius: 50%;
    margin-bottom: rem(10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.other__accimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.other__accimg-third {
    transform: rotate(-10.11deg);
}
.other__bigcircle {
    position: absolute;
    top: -19%;
    left: -12%;
    @include adaptive-value("width", 285, 135, 0);
    @include adaptive-value("height", 285, 135, 0);
}
.other__circle {
    position: absolute;
    bottom: -6%;
    right: 0;
    @include adaptive-value("width", 100, 85, 0);
    @include adaptive-value("height", 100, 85, 0);
}
.other__bigcircle,
.other__circle {
    background: #eef1f6;
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
        0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    border-radius: 50%;
}
.other__imgcircleblock {
    position: relative;
}
.other__next,
.other__prev {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
.other__next {
    top: 27%;
    right: 0;
}
.other__prev {
    transform: rotate(180deg);
    top: 25%;
    right: rem(44);
}
@media (max-width: 1500px) {
    .other__swiper {
        max-width: rem(1000);
    }
}
@media (max-width: 1300px) {
    .other__block {
        flex-direction: column;
        margin-top: rem(100);
    }
    .other__maintext {
        margin-top: rem(20);
    }
    .other__imgwrapper {
        margin-right: 0px;
    }
    .other__circle {
        bottom: 0;
        right: rem(-27);
    }
    .other__bigcircle {
        top: -13%;
        left: -8%;
    }
    .swiper.other__swiper {
        max-width: rem(750);
        margin-left: 0px;
        margin-right: 0px;
    }
    .other__flex {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .swiper.other__swiper {
        max-width: 100%;
    }
    .other__next {
        top: 68%;
        right: 47%;
    }
    .other__prev {
        top: 66%;
        right: 53%;
    }
    .other__maintext {
        font-size: rem(24);
    }
    .other__block {
        padding: 0 rem(20);
    }
}
@media (max-width: 600px) {
    .other__imgblock {
        width: rem(80);
        height: rem(80);
    }
    .other__next {
        top: 49%;
        right: 47%;
    }
    .other__prev {
        top: 47%;
        right: 53%;
    }
}
@media (max-width: 430px) {
    .swiper-slide {
        height: 100%;
        flex: 1 0 auto;
        margin-right: 0px;
    }
    .other__imgblock {
        width: rem(52);
        height: rem(52);
    }
    .other__next {
        top: 39%;
        right: 45%;
    }
    .other__prev {
        top: 37%;
        right: 55%;
    }
    .other__text {
        text-align: center;
        font-size: rem(15);
    }
    .other__maintext {
        text-align: center;
        font-size: rem(20);
        margin-bottom: rem(20);
    }
}
